.draggable {
    padding: 1em;
    background-color: lightgray;
    border-radius: 0.5em;
    border: solid 1px darkgray;
    cursor: move;
}

.droppable {
    min-width: 50px;
    min-height: 40px;
    padding: 1em;
    border: dashed 3px lightgray;
    border-radius: 1em;
}

.droppable-label {
    color: lightgray;
    font-size: smaller;
}

.draggable-placeholder {
    border: dotted 0.5px lightgray;
    border-radius: 0.5em;
    padding: 1em;
    height: 1em;
}
