.droppable li {
    margin: 0.25em;
    cursor: move;
    min-width: 4em;
    min-height: 3em;
}

.droppable {
    padding: 0.5em;
    border: dashed 4px lightgray;
    border-radius: 1em;
}

.droppable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto; /* hack to get height right */
    min-width: 4em;
    min-height: 3em;
}

.droppable li {
    float: left;
}

/* when dragging into a sortable widget */
.placeholder {
    border: #fff700 solid 0.5px;
    background-color: #ffffe1;
}

/* for close X's in labels */
.label a {
    color: white;
}
