RewriteEngine On

RewriteCond %{REQUEST_URI} ^(.*/api)/v1(/.*)(\?.*)?
RewriteCond %{CONTEXT_DOCUMENT_ROOT}%1%2 !-d
RewriteCond %{CONTEXT_DOCUMENT_ROOT}%1%2\.php -f
RewriteRule ^v1/(.*)$ $1.php [QSA,L]

RewriteCond %{REQUEST_URI} ^(.*/api)/v1(/.*)(\?.*)?
RewriteCond %{CONTEXT_DOCUMENT_ROOT}%1%2 !-d
RewriteCond %{CONTEXT_DOCUMENT_ROOT}%1%2\.php !-f
RewriteRule .* error.php [QSA,L]

