body {
    background-color: lightblue;
}

h1 {
	background-color: white;
	text-align: center;
    color: lightblue;
    margin: 1em;
    padding: 1em;
}

h3{
	text-align: center;
	color: white;
}
p {
	text-align: center;
	color: white;

}
button{
	padding: .3em;
	margin: 0;
	text-align: center;
}
.clicked button{
	visibility: hidden;
}